* {
  outline: 0 !important;
  box-shadow: none !important;
}

[hidden]:not([hidden=false]) {
  display: none !important;
}

a {
  text-decoration: none !important;
}

a, [role=button] {
  cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: bold !important;
}

html, body, .tooltip, .popover {
  font-family: "IBM Plex Sans", serif !important;
}

code, kbd, pre, samp, .text-monospace {
  font-family: "IBM Plex Mono", monospace !important;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}

blockquote, .blockquote {
  margin-bottom: 16px;
  padding: 16px;
  border-left: 5px solid #BDC3C7 !important;
  background-color: #F5F5F5;
  font-style: italic;
}
blockquote footer, blockquote .footer, .blockquote footer, .blockquote .footer {
  margin-top: 8px;
  color: #6C757D;
  font-size: 14px;
}
blockquote footer::before, blockquote .footer::before, .blockquote footer::before, .blockquote .footer::before {
  content: "- ";
}

.help {
  cursor: help !important;
}

.table-of-contents a {
  margin-bottom: 5px;
  display: block;
}
.table-of-contents a[data-level="3"] {
  color: #222 !important;
  font-weight: 400;
}
.table-of-contents a[data-level="5"] {
  color: #333 !important;
  font-size: 14.5px;
  margin-left: 10px;
}
.table-of-contents a:hover {
  color: #03A9F4 !important;
}

.author-image {
  width: 80px;
  height: 80px;
}

.article-image {
  margin: 1rem 0;
}
.article-image img {
  width: 80%;
}

.text-title:not(:first-child), .text-title:not(:first-of-type) {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
}

#blog-article :last-child, #blog-article :last-child > :last-child {
  margin-bottom: 0 !important;
}

li:not(:last-child) {
  margin-bottom: 0.25rem;
}

pre {
  display: block;
  margin: 1rem 0 1rem 0 !important;
  padding: 10px;
  overflow: auto;
  color: #212529;
  font-size: 1em !important;
  white-space: pre;
  background-color: #F9F9F9 !important;
}
pre * {
  font-size: inherit !important;
  background-color: transparent !important;
  text-shadow: none !important;
  word-break: normal !important;
}

:not(pre) > code {
  padding: 1px 2px;
  margin: 0 2px;
  color: #009688 !important;
  word-break: break-word;
  background-color: #F9F9F9 !important;
  box-shadow: 1px 1px 3px 0px rgba(200, 200, 200, 0.5);
}

.global-header {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.global-header .text-contrast img {
  height: 2rem;
  margin-top: -7px;
}
.global-header *:not(.btn):not(.text-contrast a) {
  color: #FFF !important;
}
.global-header .text-contrast {
  line-height: 150%;
  padding: 0px 5px;
  position: relative;
  box-decoration-break: clone !important;
  -webkit-box-decoration-break: clone !important;
  background-color: #212529;
}
.global-header .header-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.row[data-masonry] {
  position: relative;
  height: 714px;
}

/* Links:
 * https://colorswall.com/
 * https://www.schemecolor.com/
 */
.bg-css {
  background-color: #2965f1;
}

.bg-git {
  background-color: #3E2C00;
}

.bg-go {
  background-color: #29BEB0;
}

.bg-html {
  background-color: #F06529;
}

.bg-javascript {
  background-color: #F0DB4F;
}

.bg-perl {
  background-color: #6B4380;
}

.bg-python {
  background-color: #306998;
}

.bg-rust {
  background-color: #CE412B;
}

.bg-web-development {
  background-color: #A31C5D;
}

#article-nav a, #article-nav span {
  color: #FFF !important;
}

.search-cards:not(.last-visible) {
  border-bottom: 1px solid #DEE2E6;
}

.search-cards.last-visible {
  margin-bottom: 0 !important;
}
